AI_PROVIDER=vertex
GOOGLE_CLOUD_PROJECT=your_project_id
GOOGLE_CLOUD_LOCATION=global
VERTEX_MODEL=gemini-3.5-flash
SPEECH_LANGUAGE_CODE=en-GB
SPEECH_MODEL=latest_long
SPEECH_SYNC_MAX_MS=55000
TTS_LANGUAGE_CODE=en-GB
TTS_VOICE_NAME=en-GB-Chirp3-HD-Aoede
TTS_SSML_GENDER=FEMALE
MAX_REQUEST_BYTES=16000000
MAX_MESSAGE_CHARS=12000
MAX_VOICE_TRANSCRIPT_CHARS=20000
