AI_PROVIDER=vertex
GOOGLE_CLOUD_PROJECT=your_project_id
GOOGLE_CLOUD_LOCATION=global
VERTEX_MODEL=gemini-3.5-flash
SPEECH_LANGUAGE_CODE=en-GB
TTS_LANGUAGE_CODE=en-GB
TTS_VOICE_NAME=en-GB-Chirp3-HD-Aoede
TTS_SSML_GENDER=FEMALE
